@{
    Layout = "~/Views/Shared/Admin.cshtml";
}
@model DoctorPC_Web.Models.product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imgfile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imgfile)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.pid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
