@{
    Layout = "~/Views/Shared/Admin.cshtml";
}
@model DoctorPC_Web.Models.user

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>user</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cpassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cpassword)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.uid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
